@model SheilaWard_FinancialPortal.Models.ExtendedRegisterViewModel
@{
    Layout = "~/Views/Shared/_RegisterLogin.cshtml";
    ViewBag.Title = "Register";
}

    <div class="wrapper wrapper-full-page">
        <div class="full-page register-page" filter-color="black" style="background-image: url('/Content/img/register.jpeg')">
            <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="card card-signup">
                            <h2 class="card-title text-center">Register</h2>
                            <div class="row">
                                <div class="col-md-5 col-md-offset-1">
                                    <br /><br />
                                    <div class="card-content">
                                        <div class="info info-horizontal">
                                            <div class="icon icon-rose">
                                                <i class="material-icons">timeline</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Marketing</h4>
                                                <p class="description">
                                                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="info info-horizontal">
                                            <div class="icon icon-primary">
                                                <i class="material-icons">code</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Fully Coded in HTML5</h4>
                                                <p class="description">
                                                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                                                </p>
                                            </div>
                                        </div>

                                        <div class="info info-horizontal">
                                            <div class="icon icon-info">
                                                <i class="material-icons">group</i>
                                            </div>
                                            <div class="description">
                                                <h4 class="info-title">Built Audience</h4>
                                                <p class="description">
                                                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="social text-center">
                                        <button class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </button>
                                        <button class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"> </i>
                                        </button>
                                        <h4> or be classical </h4>
                                    </div>

                                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                            <div class="card-content">
                                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                                <div class="register-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">face</i>
                                                        </span>
                                                        @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name", @class = "form-control" })
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">&emsp;&ensp;&nbsp;
                                                            @*<i class="material-icons">face</i>*@
                                                        </span>
                                                        @Html.TextBoxFor(m => m.LastName, new { placeholder = "Last Name", @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="register-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">email</i>
                                                        </span>
                                                        @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                                                    </div>
                                                </div>

                                                <div class="register-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <i class="material-icons">lock_outline</i>
                                                        </span>
                                                        @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control" })
                                                    </div>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            &emsp;&ensp;&nbsp;
                                                            @*<i class="material-icons">lock_outline</i>*@
                                                        </span>
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm Password", @class = "form-control" })
                                                    </div>
                                                </div>

                                                <!-- If you want to add a checkbox to this form, uncomment this code -->

                                                @*<div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="optionsCheckboxes" checked>
                                                        I agree to the <a href="#something">terms and conditions</a>.
                                                    </label>
                                                </div>*@
                                            </div>
                                            <div class="footer text-center">
                                                <button type="submit" class="btn btn-primary btn-round">Get Started</button>
                                            </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Footer");
        </div>
    </div>
@section scripts 
    {
    <script>
        $("#navButton > li.active").removeClass("active");
        $("#register").addClass("active");
    </script>
    }

            @*<div class="form-group">
                @Html.LabelFor(m => m.Avatar, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Avatar, new { @class = "form-control", type = "file" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
        }*@

